.callback {
  background-color: $color-blue;
}

.callback__container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  max-width: 1290px;
  padding-top: 90px;
  padding-bottom: 113px;

  &::before {
    position: absolute;
    content: "";
    top: -60px;
    right: -301px;

    width: 1731px;
    height: 647px;

    background-image: url("../img/bg-paperplane-desktop@1x.png"), url("../img/bg-triangles.svg"), url("../img/bg-triangle-opacity.svg");
    background-repeat: no-repeat;
    background-size: 511px 288px, 671px 642px, 263px 263px;
    background-position: top 221px left 175px, top left, top 149px right;
  }

  &::after {
    position: absolute;
    content: "";
    top: 238px;
    right: -392px;

    width: 373px;
    height: 373px;

    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 420px;
    opacity: 0.2;

    transform: rotate(180deg);
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .callback__container::before {
    background-image: url("../img/bg-paperplane-desktop@2x.png"), url("../img/bg-triangles.svg"), url("../img/bg-triangle-opacity.svg");
  }
}

.callback b {
  width: 570px;
  margin-bottom: 11px;
  margin-right: 4px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #ffffff;
}

.callback p {
  width: 570px;
  margin: 0;
  margin-bottom: 51px;

  color: #ffffff;
}

.callback__form {
  display: flex;
  flex-direction: column;
  width: 570px;
}

.callback__form-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.callback input[type="text"],
.callback input[type="tel"],
.callback textarea {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 17px;
  padding-right: 17px;

  color: #ffffff;

  background-color: rgba(#ffffff, 0.1);
  border: none;
  border-radius: 0;

  &::placeholder {
    color: #ffffff;
  }

  &:hover {
    background-color: rgba(#ffffff, 0.3);
  }
}

.callback input:required,
.callback textarea:required {
  box-shadow: none;
}

.callback input[type="text"],
.callback input[type="tel"] {
  width: 270px;
}

.callback textarea {
  width: 570px;
  height: 154px;
  margin-top: 40px;
  margin-bottom: 43px;
}

.callback__btn {
  order: -1;
  width: 270px;

  color: #ffffff;

  border-color: #ffffff;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.callback input[type="checkbox"] {
  right: 255px;
}

.callback input[type="checkbox"] + label {
  position: relative;

  width: 230px;
  margin-right: 32px;
  padding-left: 32px;

  font-size: 14px;
  line-height: 16px;
  color: rgba(#ffffff, 0.8);

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;

    width: 16px;
    height: 16px;

    border: 1px solid #ffffff;
  }

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: rgba(#ffffff, 0.5);
  }
}

.callback input[type="checkbox"]:checked + label {
  &::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 4px;

    width: 8px;
    height: 5px;

    background-image: url("../img/bg-checkmark.svg");
    background-repeat: no-repeat;
  }
}

@media (max-width: $tablet-width) {
  .callback__container {
    align-items: stretch;

    padding-top: 78px;
    padding-bottom: 104px;
    padding-left: 12%;
    padding-right: 11%;

    &::before,
    &::after {
      display: none;
    }
  }

  .callback b {
    width: auto;
    margin-bottom: 18px;
    margin-left: -4px;
    margin-right: 0;

    font-size: 32px;
    line-height: 45px;
  }

  .callback p {
    width: auto;
    margin-bottom: 55px;
  }

  .callback__form {
    width: auto;

    &::after {
      display: none;
    }
  }

  .callback input[type="text"],
  .callback input[type="tel"] {
    flex-grow: 1;
    width: auto;
  }

  .callback__form-wrapper input:nth-child(4n+4) {
    margin-left: 33px;
  }

  .callback textarea {
    width: auto;
    height: 160px;
    margin-top: 42px;
    margin-bottom: 45px;
  }

  .callback input[type="checkbox"] {
    right: 265px;
  }

  .callback input[type="checkbox"] + label {
    width: auto;
    flex-basis: 366px;

    margin-left: 40px;
    margin-right: 0;
    padding-left: 34px;
  }

  .callback__btn {
    width: auto;
    flex-basis: 377px;
  }
}

@media (max-width: $mobile-width) {
  .callback__container {
    padding-top: 30px;
    padding-bottom: 43px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .callback b {
    margin-bottom: 13px;
    margin-left: 0;

    font-size: 28px;
    line-height: 39px;
  }

  .callback p {
    margin-bottom: 26px;
  }

  .callback__form-wrapper {
    flex-direction: column;
  }

  .callback__form-wrapper input:nth-child(4n+4) {
    margin-left: 0;
  }

  .callback input,
  .callback input[type="text"],
  .callback input[type="tel"],
  .callback textarea {
    width: 100%;
    margin-bottom: 32px;
  }

  .callback textarea {
    height: 104px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .callback input[type="checkbox"] {
    top: 84px;
    left: 7px;
    right: auto;

    width: 1px;
    margin: 0;
    padding: 0;
  }

  .callback input[type="checkbox"] + label {
    flex-basis: auto;
    width: 100%;
    margin-left: 0;
  }

  .callback__btn {
    flex-basis: auto;
    width: 100%;
    margin-bottom: 30px;
  }
}
