.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: $tablet-width) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: $mobile-width) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
