.page-header {
  position: relative;
  z-index: 1;

  margin-top: 33px;
}

.page-header__container {
  display: flex;
  align-items: center;

  max-width: 1530px;
}

.page-header__logo {
  margin-right: auto;

  line-height: 0;
}

.page-header__logo picture {
  line-height: 0;
}

.page-header__contacts {
  margin-right: 49px;
}

.page-header__btn {
  color: #ffffff;

  border-color: #ffffff;

  &:hover {
    color: $color-blue;

    border-color: $color-blue;
  }

  &:active {
    color: $color-blue;

    border-color: $color-blue;

    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    margin-top: 20px;
  }

  .page-header__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .page-header__contacts {
    margin-right: 0;
  }

  .page-header__btn {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    margin-top: 16px;
  }

  .page-header__container {
    padding-left: 17px;
    padding-right: 15px;
  }

  .page-header__logo img {
    width: 38px;
    height: 38px;
  }
}
